<!DOCTYPE html>
<html ng-app="ExcelHandle">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Excel导入导出</title>
<link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../assets/bootstrap/css/bootstrap.fileinput.min.css"
	rel="stylesheet" type="text/css" />
<script src="../assets/jquery.min.js" type="text/javascript"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"
	type="text/javascript"></script>
<script src="../assets/angularjs/angular.min.js" type="text/javascript"></script>
<script src="../assets/angularjs/ui-bootstrap-tpls.min.js"
	type="text/javascript"></script>
<script src="../assets/angularjs/angular-file-upload.min.js"
	type="text/javascript"></script>
<script src="../js/controllers/ExcelHandleController.js"
	type="text/javascript"></script>
<script src="../js/services/service.js" type="text/javascript"></script>
</head>
<body>
	<div ng-controller="ExcelHandleController">
		<div class="btn-group">
			<form name="exportForm" action="/exportExcel" method="get">
				<input class="btn btn-primary" type="submit" value="导出">
			</form>
			<form name="importForm">
				<a ng-click="importExcel()" class="btn btn-primary"> <i
					class="fa fa-plus"></i> 导入
				</a>
			</form>
		</div>
	</div>
</body>
</html>